*.idea
*~
*__pycache__*
*.pyc
*.pytest_cache
*.csv
/checkpoints
/data
/debug
/logs
/msic_logs
/tensorboard
/test
release.zip
/terminal_logs/*
/workspace
/scripts
/pretrained
/pretrain
/compare
/mutrack.zip